/* Full-screen container for loading screen */
.loading-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image//background.jpg"); /* Background Image */
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Rotating image */
.rotating-image-container {
  height: 100vh; /* Adjust size as needed */
  width: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: rotate 3s linear infinite;
}

.rotating-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

/* Keyframes for rotating effect */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
